/* * {
    margin: 0;
    padding: 0;
    outline: 0;
} */

body{
    font: 14px "consolas", "cambria";
    color: #555;
}
a{
    text-decoration: none;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #555;
}

ul{
    display: flex;
    /* justify-items: space-between; */
}

ul > li{
    margin-right: 2rem;
}
ul:hover{
    color: aliceblue;
    background-color: aqua;
    border-radius: 0.5rem;
    text-decoration: underline;
}

#nav-search{
    flex-grow: 1;
    margin-top: 0;
    border-radius: 0.5rem;
    height: 2rem;
}
 #nav-logo{
    width: 50px;
    height: 50px;
    margin: 10px;
 }

#nav-bar-search-btn{
    margin: 10px;
}